.card {
    max-width: 280px;
    height: max-content;
    padding: 8px 8px 0px 8px;
    border-radius: 12px;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: space-around;
}
.metadata {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.metadata span {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.metadata p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: rgba(102, 116, 121, 1);
}
.gift {
    height: 34px;
    padding: 6px 10px 4px 10px;
    border-radius: 8px;
    background: rgba(252, 238, 213, 1);
    margin: 8px 0;
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;

}
.gift::before {
    content: url('../../assets/img/gift.svg');
    margin-right: 8px;
}
.badge {
    width: fit-content;
    height: 20px;
    padding: 2px 10px 2px 10px;
    border-radius: 28px;

    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;

    color: white;
    background: rgba(0, 167, 231, 1);
}