@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

:root {
  font-family: 'SVN-Gilroy', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-search {
  background-color: #fff;
  height: 44px;
  border-radius: 46px;
  padding: 12px 20px 12px 48px;
  outline: none;
}
.form-input {
  position: relative;
}
.form-input::before {
  content: url('../assets/img/search.svg');
  position: absolute;
  top: 15px;
  left: 18px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 52, 89, 1);
  height: 44px;
  padding: 14px 28px 10px 28px;
  border-radius: 57px;
  color: #fff;
}

.btn-secondary {
  border: 1.5px solid rgba(0, 52, 89, 1);
  background-color: transparent;
  color: rgba(0, 52, 89, 1);
}