/* style.css */

* {
    text-align: left;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


header {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    height: 496px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
}

h2 {
    color: rgba(0, 42, 72, 1);
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
}

h3 {
    color: rgba(0, 42, 72, 1);
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.navbar {
    background-color: transparent;
    color: #333;
    padding: 10px;
    position: relative;
}

.navbar .container {
    position: relative;
    z-index: 2;
}

.navbar::before {
    content: '';
    display: block;
    background-color: rgba(247, 219, 167, 1);
    position: absolute;
    width: 635px;
    height: 635px;
    bottom: 40px;
    left: -202px;
    z-index: 1;
    border-radius: 99px;
    transform: rotateZ(-65deg);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

.navbar li form {
    display: flex;
    gap: 8px;
}

.navbar li .lang {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    position: relative;
}

.lang::after {
    content: url('../assets/img/caret-down.svg');
    position: absolute;
    right: -15px;
    top: -2px;
}

.navbar .lang-switch {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.bigscreen {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 6rem;
    margin: 45px 0 0;
    height: 100%;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-content::before {
    content: url('../assets/img/dogwithwoman.png');
    z-index: 3;
}

.right-content .square1 {
    position: absolute;
    width: 430px;
    height: 430px;
    bottom: -40%;
    left: 95px;
    border-radius: 99px;
    background: rgba(247, 219, 167, 1);
    z-index: 2;
    transform: rotateZ(25deg);
}

.right-content .square2 {
    position: absolute;
    width: 430px;
    height: 430px;
    bottom: -46%;
    left: 64px;
    border-radius: 99px;
    background: rgba(0, 52, 89, 1);
    z-index: 1;
    transform: rotateZ(5deg);
}

.right-content .mini-square1 {
    position: absolute;
    width: 21.5px;
    height: 21.5px;
    top: 17%;
    left: 102px;
    border-radius: 6px;
    background-color: rgba(0, 52, 89, 1);
    z-index: 2;
    transform: rotateZ(45deg);
}

.right-content .mini-square2 {
    position: absolute;
    width: 27.5px;
    height: 27.5px;
    top: 15%;
    left: 102px;
    border-radius: 6px;
    background-color: rgba(247, 219, 167, 1);
    z-index: 1;
    transform: rotateZ(65deg);
}

.right-content .mini-square3 {
    position: absolute;
    width: 14.63px;
    height: 14.63px;
    top: 7%;
    left: 139px;
    border-radius: 4px;
    background-color: rgba(247, 219, 167, 1);
    z-index: 1;
    transform: rotateZ(41deg);
}

.left-content {
    padding: 20px 0;
    position: relative;
}

.left-content .content {
    position: relative;
    z-index: 2;
}

.innersquare-left {
    z-index: 1;
    position: absolute;
    width: 67.1px;
    height: 67.1px;
    top: 24px;
    left: 0;
    border-radius: 20px;
    background: rgba(247, 219, 167, 1);
    transform: rotateZ(120deg);
}

.bottomsquare-left {
    height: 635px;
    width: 635px;
    position: absolute;
    z-index: 1;
    border-radius: 99px;
    background: rgba(247, 219, 167, 1);
    opacity: 40%;
    bottom: -165%;
    left: -3%;
    transform: rotateZ(147deg);
}

.pets {
    position: relative;
    height: 986px;
    z-index: 3;
    background-color: white;
    padding-inline: 6rem;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.pets .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-heading h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.banner {
    background: url('../assets/img/bg-banner.png');
    width: 1180px;
    height: 378px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.banner-img {
    position: absolute;
    bottom: 0;
    left: 15%;
}

.second {
    left: 0%;
}

.banner-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 32px 64px;
    justify-content: center;
}

.banner-right h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: rgba(0, 52, 89, 1);
}

.banner-right h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 68px;
    text-align: left;
    color: rgba(0, 52, 89, 1);
}

.second-banner {
    background: url('../assets/img/bg-banner2.png');
    width: 1180px;
    height: 378px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.btn-intro {
    position: relative;
    padding: 10px 50px 10px 20px;
}

.btn-intro::after {
    content: url('../assets/img/play-circle.png');
    position: absolute;
    right: 15px;
    top: 23%;
}

.btn-more {
    position: relative;
    padding: 10px 50px 10px 20px;
}

.btn-more::after {
    content: url('../assets/img/chevron-right.png');
    position: absolute;
    right: 15px;
    top: 23%;
}

.pet-seller {
    width: 100%;
    height: fit-content;
}

.pet-seller .products {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-heading-pet-seller {
    display: flex;
    align-items: center;
    gap: 4px;
}

.left-heading-pet-seller h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

footer {
    width: 100%;
    height: 440px;
    padding: 80px 130px 40px 130px;
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.newsletter {
    padding: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: rgba(0, 52, 89, 1);
    border-radius: 16px;
    color: white;
}

.newsletter form {
    height: 72px;
    padding: 12px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    gap: 8px;
}

.newsletter p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;

}

.subscripe {
    width: 163px;
    height: 48px;
    padding: 14px 28px 10px 28px;
    border-radius: 8px;
    background: rgba(0, 52, 89, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    font-family: 'SVN-Gilroy';
}

.input-email {
    padding: 14px 28px 14px 28px;
    border-radius: 8px;
    border: 1px;
    outline: none;
    border: 1px solid rgba(153, 162, 165, 1)
}

footer nav {
    padding: 32px 0;
    border-bottom: 1px solid rgba(204, 209, 210, 1);
    display: flex;
    justify-content: space-between;

}

footer nav ul {
    display: flex;
    gap: 48px;
}

footer .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(102, 116, 121, 1);
}

footer .brand div {
    display: flex;
    gap: 48px;
}

.pet-knowledge {
    height: fit-content;
}

.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    header {
        height: auto;
        border-radius: 0;
    }

    h2 {
        font-size: 36px;
        line-height: 44px;
    }

    h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;
    }

    .mobile-nav .burger {
        content: url('../assets/img/burger.svg');
    }

    .navbar::before {
        display: none;
    }

    .navbar li {
        margin-right: 10px;
    }

    .navbar li .lang {
        font-size: 14px;
        line-height: 20px;
    }

    .bigscreen {
        grid-template-columns: 1fr;
        padding-inline: 2rem;
    }

    .bottomsquare-left {
        display: none;
    }

    .square1 {
        display: none;
    }

    .square2 {
        display: none;
    }

    .lang::after {
        right: -10px;
        top: 0;
    }

    .right-content::before {
        content: '';
    }

    .right-heading {
        display: none;
    }

    .banner-right {
        padding: 32px;
    }

    .banner {
        width: 100%;
        background: url('../assets/img/banner-mobile.png');
        grid-template-columns: 1fr;
    }
    .banner div img {
        display: none;
    }
    .banner .banner-right {
        padding: initial;
    }

    .second-banner {
        width: 100%;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        padding: initial;
    }

    footer nav {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    footer .brand {
        position: relative;
        margin: 20px 0;
    }
    footer .brand p {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: -70px;
        text-align: center;
    }
    footer .brand img {
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    footer .brand div {
        display: none;
    }

    .newsletter {
        grid-template-columns: 1fr;
    }

    section {
        padding-inline: 2rem !important;
        height: fit-content !important;
    }
}